@{
    Layout = "~/Views/Shared/Adminlayout.cshtml";

}
@model Web_Học_Trực_Tuyến.Models.Hocvien_Giangvien_Taikhoan

<div class="right_col" role="main" style="min-height: 3753px;">
    <div class="row">
        
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm Tài khoản<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    @using (Html.BeginForm("SaveTaikhoan", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryId">
                                 Tài khoản <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.taikhoans.Id, new { @class = "form-control col-md-7 col-xs-12",required="required" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryId">
                                 Họ và tên <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.giangviens.HoTen, new { @class = "form-control col-md-7 col-xs-12",required="required" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryId">
                                 Số điện thoại <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.giangviens.SoDienThoai, new { @class = "form-control col-md-7 col-xs-12",required="required" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryId">
                                 Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.giangviens.Email, new { @class = "form-control col-md-7 col-xs-12",required="required" })

                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryId">
                                 Bằng cấp <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.giangviens.BangCap, new { @class = "form-control col-md-7 col-xs-12",required="required" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryId">
                                 Mật khẩu <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.PasswordFor(m => m.taikhoans.MatKhau, new {placeholder="Matkhau", @class = "form-control col-md-7 col-xs-12",required="required",id="txtPassword" })
                             

                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label id="confirm_password" class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryId">
                                 Nhập lại mật khẩu <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.PasswordFor(m => m.taikhoans.MatKhau, new {placeholder="Matkhau", @class = "form-control col-md-7 col-xs-12",required="required",id="txtConfirmPassword" })

                            </div>
                        </div>
                      
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" onclick="return Validate()" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    }



      <script type="text/javascript">
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>



                </div>
            </div>
        </div>
    </div>

</div>