@{
    Layout = "~/Views/Shared/Adminlayout.cshtml";

}
@model List<Library_Class.Entities.DanhGiaKhoaHoc>
<div class="right_col" role="main" style="min-height: 3753px;">
    <div class="row">
        
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm khóa học online <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                   
                   <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings"> 
                        @*<th>
                              <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                           </th>*@
                        <th scope="col">Id </th>
                        <th scope="col">Ngày đánh giá</th>
                        <th scope="col">Nội dụng</th>
                        <th scope="col">Id học viên</th>
                        <th scope="col">Id khóa học</th>
                        <th scope="col">Rating</th>
                    </tr>
                  </thead>
                  <tbody>
                   @foreach(var item in Model)
                    {
                 
                    <tr class="even pointer">
                       @* <td class="a-center ">
                            <div class="icheckbox_flat-green" style="position: relative;">
                               <input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                            </div>
                        </td>*@
                      <th class=" ">@item.Id</th>
                        <td class=" ">@item.NgayDanhGia</td>
                        <td class=" ">@item.NoiDungDanhGia</td>
                        <td class=" ">@item.IdHocVien</td>
                        <td class=" ">@item.IdKhoaHocOnline</td>
                        <td class=" ">@item.Rating</td>
                        
                        
                        <td class="">
                            
                             @Html.ActionLink("Delete", "DeleteDanhGia", new {id = item.Id })
                        </td>
                        
                    </tr>
                  
                
                    }
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

